<!DOCTYPE html>
<html lang='en' ng-app='apiHandler'>
    <head>
        <meta charset='UTF-8'>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js'></script>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>StarWars-data</title>
    </head>
    <body ng-controller='apiCtrl'>
        <div class='container text-center'>
            <h1 class='h1'>Star Wars Search</h1>
            <div class='container__api-form'>
                <h3 class='container__api-form-info'>Looking for something?<br/>I can find it!</h3>
                <select class='form-select dropdown-toggle' ng-model='apiVal'>
                    <option value='none' selected>Pick the category</option>
                    <option value='people'>People</option>
                    <option value='planets'>Planet</option>
                    <option value='films'>Films</option>
                    <option value='starships'>Starships</option>
                    <option value='vehicles'>Vehicles</option>
                    <option value='species'>Species</option>
                </select>
                <h5 class='container__api-form-advice'>Write name or leave the field empty,<br/> if you want to get all from category</h5>
                <input type='text' class='form-control' id='container__api-form-input' placeholder='Name or id' ng-model='apiName'>
                <div class='container__api-form__buttons'>
                    <button type="button" class="btn btn-secondary" ng-click='timeOut()'>Show</button>
                    <button type='button' class='btn btn-primary container__api-form__buttons-find' ng-click='find()'>Find!</button>
                </div>
                <div class='result text-center' ng-repeat="result in arrResult"  ng-model='arrResult' ng-model-options="{ getterSetter: true }">
                    <div class='resultApi' ng-model='result.name' ng-hide='result.name == undefinded'><div>Name:</div>{{result.name}}</div>
                    <div class='resultApi' ng-model='result.skin_color' ng-hide='result.skin_color == undefinded'><div>Skin color:</div>{{result.skin_color}}</div>
                    <div class='resultApi' ng-model='result.eye_color' ng-hide='result.eye_color == undefinded'><div>Eye color:</div>{{result.eye_color}}</div>
                    <div class='resultApi' ng-model='result.mass' ng-hide='result.mass == undefinded'><div>Mass:</div>{{result.mass}}</div>
                    <div class='resultApi' ng-model='result.uid' ng-hide='result.uid == undefinded'><div>Episode id:</div>{{result.uid}}</div>
                    <div class='resultApi' ng-model='result.director'  ng-hide='result.director == undefinded'><div>Director:</div>{{result.director}}</div>
                    <div class='resultApi' ng-model='result.created'  ng-hide='result.created == undefinded'><div>Created:</div>{{result.created}}</div>
                    <div class='result' ng-model='result.opening_crawl'  ng-hide='result.opening_crawl == undefinded'><div>Opening crawl:</div>{{result.opening_crawl}}</div>
                    <div class='resultApi' ng-model='result.release_date'  ng-hide='result.release_date == undefinded'><div>Release date:</div>{{result.release_date}}</div>
                    <div class='resultApi' ng-model='result.model'  ng-hide='result.model == undefinded'><div>Model:</div>{{result.model}}</div>
                    <div class='resultApi' ng-model='result.starship_class'  ng-hide='result.starship_class == undefinded'><div>Starshop Class:</div>{{result.starship_class}}</div>
                    <div class='resultApi' ng-model='result.crew'  ng-hide='result.crew == undefinded'><div>Crew:</div>{{result.crew}}</div>
                    <div class='resultApi' ng-model='result.vehicle_class'  ng-hide='result.vehicle_class == undefinded'><div>Vehicle class:</div>{{result.vehicle_class}}</div>
                    <div class='resultApi' ng-model='result.classificatio'  ng-hide='result.classificatio == undefinded'><div>Classificatio:</div>{{result.classificatio}}</div>
                    <div class='resultApi' ng-model='result.designation'  ng-hide='result.designation == undefinded'><div>Designation:</div>{{result.designation}}</div>
                    <div class='resultApi' ng-model='result.language'  ng-hide='result.language == undefinded'><div>Language:</div>{{result.language}}</div>
                    <div class='resultApi' ng-model='result.diameter'  ng-hide='result.diameter == undefinded'><div>Diameter:</div>{{result.diameter}}</div>
                    <div class='resultApi' ng-model='result.gravity'  ng-hide='result.gravity == undefinded'><div>Gravity:</div>{{result.gravity}}</div>
                    <div class='resultApi' ng-model='result.population'  ng-hide='result.population == undefinded'><div>Popylation:</div>{{result.population }}</div>
                    <div class='resultApi' ng-model='result.climate'  ng-hide='result.climate == undefinded'><div>Climate:</div>{{result.climate}}</div>
                    <div class='resultApi' ng-model='result.surface_water'  ng-hide='result.surface_water == undefinded'><div>Surface water:</div>{{result.surface_water}}</div>                    
                </div>
            </div>
        </div>
    </body>
</html>