<!DOCTYPE html>
<html lang='en' ng-app='apiHandler'>
    <head>
        <meta charset='UTF-8'>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js'></script>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>StarWars-data</title>
    </head>
    <body ng-controller='apiCtrl'>
        <div class='container text-center'>
            <h1 class=''>Star Wars Search</h1>
            <div class='container__api-form'>
                <h3 class='container__api-form-info'>Looking for something?<br/>I can find it!</h3>
                <select class='form-select' ng-model='apiVal'>
                    <option value='none' selected>Pick the category</option>
                    <option value='people'>People</option>
                    <option value='planets'>Planet</option>
                    <option value='films'>Films</option>
                    <option value='starships'>Starships</option>
                    <option value='vehicles'>Vehicles</option>
                    <option value='species'>Species</option>
                </select>
                <h5 class='container__api-form-advice'>Write name or leave the field empty,<br/> if you want to get all from category</h5>
                <input type='text' class='form-control' id='container__api-form-input' placeholder='Name or id' ng-model='apiName'>
                <div class='container__api-form__buttons'>
                    <div class='form-check'>
                        <input class='form-check-input' type='checkbox' ng-model='apiWookie' ng-click='wookiee()' id='container__api-form__buttons-form-check'>
                        <label class='form-check-label' for='container__api-form__buttons-form-check'>Wookiee</label>
                    </div>
                    <button type='button' class='btn btn-primary container__api-form__buttons-find' ng-click='find()'>Find!</button>
                </div>
                <div class='result text-center' ng-repeat="result in arrResult"  ng-model='arrResult'>
                    <div class='resultApi' ng-model='result.name'><div>Name:</div>{{result.name}}</div>

                    <div class='resultApi' ng-model='result.skin_color'><div>Skin color:</div>{{result.skin_color}}</div>
                    <div class='resultApi' ng-model='result.result.uid'><div>Episode id:</div>{{result.uid}}</div>
                    <div class='resultApi' ng-model='result.result.director'><div>Director:</div>{{result.director}}</div>
                    <div class='resultApi' ng-model='result.created'><div>Created:</div>{{result.created}}</div>
                    <div class='resultApi'><div>Opening crawl:</div>{{arrResult.opening_crawl}}</div>
                    <div class='resultApi'><div>Release date:</div>{{arrResult.release_date}}</div>
                    <div class='resultApi'><div>Model:</div>{{arrResult.model}}</div>
                    <div class='resultApi'><div>Starshop Class:</div>{{arrResult.starship_class}}</div>
                    <div class='resultApi'><div>Crew:</div>{{arrResult.crew}}</div>
                    <div class='resultApi'><div>Vehicle class:</div>{{arrResult.vehicle_class}}</div>
                    <div class='resultApi'><div>Classificatio:</div>{{arrResult.classificatio}}</div>
                    <div class='resultApi'><div>Designation:</div>{{arrResult.designation}}</div>
                    <div class='resultApi'><div>Language:</div>{{arrResult.language}}</div>
                    <div class='resultApi'><div>Diameter:</div>{{arrResult.diameter}}</div>
                    <div class='resultApi'><div>Gravity:</div>{{arrResult.gravity}}</div>
                    <div class='resultApi'><div>Popylation:</div>{{arrResult.population }}</div>
                    <div class='resultApi'><div>Climate:</div>{{arrResult.climate}}</div>
                    <div class='resultApi'><div>Surface water:</div>{{arrResult.surface_water}}</div>                    
                </div>
                
            </div>
        </div>
    </body>
</html>